---
import Breadcrumbs from '@/components/breadcrumbs.astro'
import PageHead from '@/components/page-head.astro'
import ToolCard from '@/components/tool-card.astro'
import Layout from '@/layouts/layout.astro'
import { getCollection } from 'astro:content'

const tools = await getCollection('tools', ({ data }) => !data.draft)
tools.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Outils" />
  <Breadcrumbs items={[{ label: 'Outils', icon: 'lucide:wrench' }]} />
  {
    tools.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {tools.map((tool) => (
          <li>
            <ToolCard tool={tool} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">Aucun outil trouvé.</p>
    )
  }
</Layout>
