---
import Link from '@/components/shared/link.astro'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'

interface Props {
  tool: CollectionEntry<'workshop'>
}

const { tool } = Astro.props
const {
  id,
  data: { icon, name, description },
} = tool
---

<div
  class="hover:bg-muted/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out"
>
  <Link href={`/workshop/${id}`} class="flex items-center gap-4">
    {icon && <Icon name={icon} class="text-muted-foreground size-8 shrink-0" />}
    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">{name}</h3>
      <p class="text-muted-foreground text-sm">{description}</p>
    </div>
  </Link>
</div>
